 * {
    padding: 0;
    margin: 0;
    font-family: courier;
    cursor: url(img/asset.png), default; 
}

body {
    background: url(img/backgroundgrey2.png);
    background-position: fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    margin: 20px;
    color:#b7faff;
}

#logo {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 1;
    width: 109px;
}

#about {
    color:white;
    position:absolute;
    top: 40px;
    left: 45px;
    font-size: 16px;
    z-index: 5000;

}

#about::before {
    position: absolute;
    top: 5px;
    content: ' ';
    background: #671d95;
    width: 45%;
    z-index: -1;
    height: 20px;
    -webkit-transition: 100ms linear;
    -o-transition: 100ms linear;
    -moz-transition: 100ms linear;
    transition: 100ms linear;

}

#contact {
    color:white;
    position:absolute;
    top: 80px;
    left: 45px;
    font-size: 16px;
    z-index: 5000;
}


#contact, #about {
    background: #671d95;
    padding: 3px;
}

.clicked #contact::before {
    width: 120%;
}

#contact::before {
    position: absolute;
    top: 5px;
    content: ' ';
    background: #671d95;
    width: 45%;
    z-index: -1;
    height: 20px;
    -webkit-transition: 100ms linear;
    -o-transition: 100ms linear;
    -moz-transition: 100ms linear;
    transition: 100ms linear;
}

#contact-form {
    background: #1f231fe6;
    position: relative;
    top: 0;
    transform: translate(0%, -300%);
    -webkit-transition: 1550ms linear;
    -o-transition: 1550ms linear;
    -moz-transition: 1550ms linear;
    transition: 1550ms linear;

}

#two {
    top: 0;
    -webkit-transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    transform: translate(100%, -100%);
    -webkit-transition: 1550ms ease-in-out;
    -o-transition: 1550ms ease-in-out;
    -moz-transition: 1550ms ease-in-out;
    transition: 1550ms ease-in-out;

}

.about-clicked #two {
    -webkit-transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    transform: translate(0%, -100%);
    -webkit-transition: 1550ms ease-in-out;
    -o-transition: 1550ms ease-in-out;
    -moz-transition: 1550ms ease-in-out;
    transition: 1550ms ease-in-out;
} 

.about-clicked #welcome {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 1550ms ease-in-out;
    -o-transition: 1550ms ease-in-out;
    -moz-transition: 1550ms ease-in-out;
    transition: 1550ms ease-in-out;
}

.side-clicked #contact-form {
    -webkit-transform: translate(0%, -200%);
    -moz-transform: translate(0%, -200%);
    -o-transform: translate(0%, -200%);
    transform: translate(0%, -200%);
    -webkit-transition: 1550ms ease-in-out;
    -o-transition: 1550ms ease-in-out;
    -moz-transition: 1550ms ease-in-out;
    transition: 1550ms ease-in-out;
}

.side-clicked #welcome {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: 1550ms ease-in-out;
    -o-transition: 1550ms ease-in-out;
    -moz-transition: 1550ms ease-in-out;
    transition: 1550ms ease-in-out;
}

.about-clicked #about, .about-clicked #about::before {
    background: red;
}

.side-clicked #contact, .side-clicked #contact::before  {
    background: red;
}

.side-clicked #logo {
    z-index: 0;
}
#about:hover {
    cursor: default;
    -webkit-transition: 100ms linear;
    -o-transition: 100ms linear;
    -moz-transition: 100ms linear;
    transition: all 100ms linear;
}

#about:hover::before {
    content:' ';
    -webkit-transition: 100ms linear;
    -o-transition: 100ms linear;
    -moz-transition: 100ms linear;
    transition: all 100ms linear;
    width: 130%;
    height: 20px;
}

#contact:hover::before {
    content:' ';
    -webkit-transition: 100ms linear;
    -o-transition: 100ms linear;
    -moz-transition: 100ms linear;
    transition: all 100ms linear;
    width: 130%;
    height: 20px;
}

#contact:hover {
    cursor: default;
}

#menu-tag {
    text-align: center;
    font-size: 10px;
    color: white;
}

.clicked #menu-tag p {
    display: none;
}

#nav-menu {
    position: fixed;
    height: 40px;
    width: 100%;
    top: 129px;
    background: rgba(24, 21, 24, 0.92);
    z-index: 1000;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -webkit-transition: all 1550ms ease-in-out;
    -moz-transition: all 1550ms ease-in-out;
    -o-transition: all 1550ms ease-in-out;
    transition: all 1550ms ease-in-out;
}

#nav-index {
    float: right;
    list-style: none;
}

.nav-list {
    position: relative;
    display: inline-block;
    z-index: 1001;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: 1550ms linear;
    -o-transition: 1550ms linear;
    -moz-transition: 1550ms linear;
    transition: all 1550ms ease-in-out;
    font-family: helvetica;
}


#nav-index, .nav-list, #nav-menu a {
    cursor: url(img/asset.png), auto;
}

.nav-list a {
    color: #ffeded;
    text-decoration: none;
}

.nav-list:hover {
    background: rgba(24, 21, 24, 1);
}

.clicked #nav-menu, .clicked .nav-list {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.clicked .nav-list {
    padding: 10px 20px;
}

#c2 {
    height: 400px;
    width: 100%;
    background: linear-gradient(178deg, #ffffff, #f33b3b, #81f8ff);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 17s ease infinite;
    -moz-animation: AnimationName 17s ease infinite;
    -o-animation: AnimationName 17s ease infinite;
    animation: AnimationName 17s ease infinite;
    position: absolute;
    top: 0px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -427px;
    margin: 0;
    opacity: .5;
}

.content-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position-x: 0%;
    background-position-y: 0%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 94vh;
    margin: auto;
    border: 13px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 93px 66px black;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox */
    box-sizing: border-box; 
    overflow: hidden;
}

.content {
    width: 90%;
    position: relative;
    padding: 5%;
    color: black;
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

#content-box {
    position:  relative;
    width: 100%;
    height: 100%;
    box-shadow: 0px 80px 
    110px -40px rgba(86, 119, 119, 0.68),
    0px 5px 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
    overflow: auto;
    margin-right: 14px;
    padding-right: 28px;
    top:70px;

}

.side-clicked #content-box {
    top:0px;
}

.hide-scrollbar {
   overflow: hidden;
   font-size: 22px;
}

.hide-scrollbar p {
    padding: 1% 10%;
    line-height: 1.5;
    font-weight: 100;
    font-weight: 100;
    position: relative;
    width: 50%;
    font-weight: 100;
    top: -36px;
    left: -26px;
    z-index: 6;
}

.hide-scrollbar span {
    background-color: #A9DEFF;
}

.ps {
    font-size: 45px;
    line-height: 3;
    -webkit-animation: textFade 1s ease;
    -moz-animation: textFade 1s ease;
    -o-animation: textFade 1s ease;
    animation: textFade 1s ease;
}

#welcome {
    min-height: 45vh;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    -webkit-transition: 1550ms ease-in-out;
    -o-transition: 1550ms ease-in-out;
    -moz-transition: 1550ms ease-in-out;
    transition: 1550ms ease-in-out;
}

#side-form {
    min-height: 600px;
    position: fixed;
    height: 98%;
    width: 500px;
    background-color: #363535e6;
    top: 6px;
    bottom: 0;
    right: 0;
    z-index: 8999;
    border: 2px solid #7e7878;
    border-radius: 6px;
    border-right-color: transparent;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform .4s ease-in-out;
    -moz-transition: transform .4s ease-in-out;
    -o-transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
}

.side-clicked #side-form {
    box-shadow: -9px 8px 37px #343333;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}

.side-clicked #side-nav {
    background-color: #2ed3ff;
    -webkit-transform: translateX(12px);
    -moz-transform: translateX(12px);
    -o-transform: translateX(12px);
    transform: translateX(12px);
}

form > div {
    width: 80%;
    margin: auto;
}

.form-txt {
    width: 100%;
    font-size: 18px;
    margin: 35px auto 0px auto;
    padding: 10px;
    font-weight: 100;
    box-shadow: -13px 1px 0px -5px #dd5050;
    border: 0px;
}

.form-txt:focus {
    font-weight: 100;
    box-shadow: -13px 1px 0px -5px #befdff;
}
/*
#message-wrapper {
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 20px;
    margin: 20% auto;
}
*/
#message {
    position: relative;
    height: 250px;
    
}

@-webkit-keyframes textFade {
    0% {opacity: 0;}
    50%{color: #f33b3b;}
    100%{color:black; opacity: 100%;}
}

@-moz-keyframes textFade {
    0% {opacity: 0;}
    50%{color: #f33b3b;}
    100%{color:black; opacity: 100%;}
}

@keyframes textFade {
    0% {opacity: 0;}
    50%{color: #f33b3b;}
    100%{color:black; opacity: 100%;}
}

@-webkit-keyframes AnimationName {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}

@-moz-keyframes AnimationName {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}

@keyframes AnimationName {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}


@media only screen and (max-width: 720px) {

    .content-wrapper {
        width: 100%;
        height: 100%;
        border: 0px;
        overflow: hidden;
    }

    .hide-scrollbar p {
        width: 80%;
    }

    #contact, #about {
        position: absolute;
    }

    #about {
        top: 60px;
    }
    #contact {
        top: 60px;
        left: 150px;
        -webkit-transition: 150ms linear;
        -moz-transition: 150ms linear;
        -o-transition: 150ms linear;
        transition: 150ms linear;
    }

    .content-box {
        margin: auto;
    }

    .content p {
        width: 100%;
        position: relative;
        top: 0px;
        left: 0px;
        padding: 0;
    }

} 

@media only screen and (max-width: 680px) {
    #logo {
        z-index: 0;
    }
    #contact, #about {
        background: #671d95;
        padding: 3px;
    }

}

@media only screen and (max-width: 560px) {

    .content-wrapper {
        overflow: hidden;
    }

    .about-clicked .content-wrapper, 
    .side-clicked .content-wrapper {
        overflow: hidden;
    }

    #side-form {
        width: 100%;

    }

    #message-wrapper {
        width: 80%;
    }

    #message {
        width: 100%;
    }

}

@media only screen and (max-width: 500px) {

    #content-box {
        top: 0px !important;
        margin-right: 0px;
        padding-right: 0px;
    }

    .hide-scrollbar p {
        top: 70px;
    }

    .ps {
        font-size: 27px;
    }

}


@media only screen and (min-width:720px) and (max-width: 1115px) {

        .hide-scrollbar p {
        width: 60%;
    }
}
