 * {
    padding: 0;
    margin: 0;
    font-family: 'K2D', sans-serif;
    cursor: url(img/asset.png), default; 
}

body {
    background: url(img/backgroundgrey2.png);
    background-position: fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    margin: 20px;
    color:#b7faff;
}

#logo {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 1;
    width: 109px;
}

#about {
    color:white;
    position:absolute;
    top: 40px;
    right: 9%;
    font-size: 16px;
    z-index: 5000;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

#about::before, #contact::before {
    position: absolute;
    top: 5px;
    content: ' ';
    background: #67597a;
    width: 45%;
    z-index: -1;
    height: 20px;
    -webkit-transition: 100ms linear;
    -o-transition: 100ms linear;
    -moz-transition: 100ms linear;
    transition: 100ms linear;

}

#contact {
    color:white;
    position:absolute;
    top: 80px;
    right: 9%;
    font-size: 16px;
    z-index: 5000;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


#contact, #about {
    background: #67597a;
    padding: 3px;
}

.clicked #contact::before {
    width: 120%;
}



#contact-form {
    background: #1f231fe6;
    position: relative;
    top: 0;
    transform: translate(0%, -300%);
    -webkit-transition: 1550ms ease-in-out
    -o-transition: 1550ms ease-in-out;
    -moz-transition: 1550ms ease-in-out;
    transition: 1550ms ease-in-out;

}

#two {
    top: 0;
    -webkit-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
    -webkit-transition: 1550ms ease-in-out;
    -o-transition: 1550ms ease-in-out;
    -moz-transition: 1550ms ease-in-out;
    transition: 1550ms ease-in-out;

}

.about-clicked #two {
    -webkit-transform: translate(0%, -100%);
    -moz-transform: translate(0%, -100%);
    -o-transform: translate(0%, -100%);
    transform: translate(0%, -100%);
    -webkit-transition: 1550ms ease-in-out;
    -o-transition: 1550ms ease-in-out;
    -moz-transition: 1550ms ease-in-out;
    transition: 1550ms ease-in-out;
} 

.about-clicked #welcome {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 1550ms ease-in-out;
    -o-transition: 1550ms ease-in-out;
    -moz-transition: 1550ms ease-in-out;
    transition: 1550ms ease-in-out;
}

.side-clicked #contact-form {
    -webkit-transform: translate(0%, -200%);
    -moz-transform: translate(0%, -200%);
    -o-transform: translate(0%, -200%);
    transform: translate(0%, -200%);
    -webkit-transition: 1550ms ease-in-out;
    -o-transition: 1550ms ease-in-out;
    -moz-transition: 1550ms ease-in-out;
    transition: 1550ms ease-in-out;
}

.side-clicked #welcome {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: 1550ms ease-in-out;
    -o-transition: 1550ms ease-in-out;
    -moz-transition: 1550ms ease-in-out;
    transition: 1550ms ease-in-out;
}

.about-clicked #about, .about-clicked #about::before {
    background: #bb4430;
}

.side-clicked #contact, .side-clicked #contact::before  {
    background: #bb4430;
}

#about:hover {
    cursor: default;
    -webkit-transition: 100ms linear;
    -o-transition: 100ms linear;
    -moz-transition: 100ms linear;
    transition: all 100ms linear;
}

#about:hover::before {
    content:' ';
    -webkit-transition: 100ms linear;
    -o-transition: 100ms linear;
    -moz-transition: 100ms linear;
    transition: all 100ms linear;
    width: 130%;
    height: 20px;
}

#contact:hover::before {
    content:' ';
    -webkit-transition: 100ms linear;
    -o-transition: 100ms linear;
    -moz-transition: 100ms linear;
    transition: all 100ms linear;
    width: 130%;
    height: 20px;
}

#contact:hover {
    cursor: default;
}

#menu-tag {
    text-align: center;
    font-size: 10px;
    color: white;
}

.clicked #menu-tag p {
    display: none;
}

#nav-menu {
    position: fixed;
    height: 40px;
    width: 100%;
    top: 129px;
    background: rgba(24, 21, 24, 0.92);
    z-index: 1000;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -webkit-transition: all 1550ms ease-in-out;
    -moz-transition: all 1550ms ease-in-out;
    -o-transition: all 1550ms ease-in-out;
    transition: all 1550ms ease-in-out;
}

#nav-index {
    float: right;
    list-style: none;
}

.nav-list {
    position: relative;
    display: inline-block;
    z-index: 1001;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: 1550ms linear;
    -o-transition: 1550ms linear;
    -moz-transition: 1550ms linear;
    transition: all 1550ms ease-in-out;
    font-family: 'K2D', sans-serif;
}


#nav-index, .nav-list, #nav-menu a {
    cursor: url(img/asset.png), auto;
}

.nav-list a {
    color: #ffeded;
    text-decoration: none;
}

.nav-list:hover {
    background: rgba(24, 21, 24, 1);
}

.clicked #nav-menu, .clicked .nav-list {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.clicked .nav-list {
    padding: 10px 20px;
}

#c2 {
    height: 400px;
    width: 100%;
    background: linear-gradient(178deg, #ffffff, #bb4430, #6a8eae);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 17s ease infinite;
    -moz-animation: AnimationName 17s ease infinite;
    -o-animation: AnimationName 17s ease infinite;
    animation: AnimationName 17s ease infinite;
    position: absolute;
    top: 0px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -427px;
    margin: 0;
    opacity: .5;
}

.content-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position-x: 0%;
    background-position-y: 0%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 95vh;
    margin: auto;
    border: 13px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 93px 66px black;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox */
    box-sizing: border-box; 
    overflow: hidden;
}

.content {
    width: 90%;
    position: relative;
    padding: 5%;
    color: black;
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

#content-box {
    position:  relative;
    width: 100%;
    height: 105%;
    box-shadow: 0px 80px 
    110px -40px rgba(86, 119, 119, 0.68),
    0px 5px 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
    overflow: auto;
    margin-right: 14px;
    padding-right: 28px;
    

}

.side-clicked #content-box {
    top:0px;
}

.hide-scrollbar {
   overflow: hidden;
   font-size: 22px;
}


.hide-scrollbar p {
    padding: 1% 10%;
    line-height: 1.5;
    font-weight: 100;
    font-weight: 100;
    position: relative;
    font-weight: 100;
    z-index: 6;
    top: 50%;
}

#two p {
    padding: 1% 10%;
    line-height: 1.5;
    font-weight: 100;
    position: relative;
    width: 50%;
    top: -36px;
    left: -26px;
    z-index: 6;
    background: #0029;
    color: white;
    transition: 1s;
}



.ps {
    font-size: 45px;
    line-height: 3;
    -webkit-animation: textFade 1s ease;
    -moz-animation: textFade 1s ease;
    -o-animation: textFade 1s ease;
    animation: textFade 1s ease;
}

#welcome {
    min-height: 45vh;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    -webkit-transition: 1550ms ease-in-out;
    -o-transition: 1550ms ease-in-out;
    -moz-transition: 1550ms ease-in-out;
    transition: 1550ms ease-in-out;
}

#side-form {
    min-height: 600px;
    position: fixed;
    height: 98%;
    width: 500px;
    background-color: #363535e6;
    top: 6px;
    bottom: 0;
    right: 0;
    z-index: 8999;
    border: 2px solid #7e7878;
    border-radius: 6px;
    border-right-color: transparent;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform .4s ease-in-out;
    -moz-transition: transform .4s ease-in-out;
    -o-transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
}

.side-clicked #side-form {
    box-shadow: -9px 8px 37px #343333;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}

.side-clicked #side-nav {
    background-color: #2ed3ff;
    -webkit-transform: translateX(12px);
    -moz-transform: translateX(12px);
    -o-transform: translateX(12px);
    transform: translateX(12px);
}

form > div {
    width: 80%;
    margin: auto;
}

.form-txt {
    width: 100%;
    font-size: 18px;
    margin: 35px auto 0px auto;
    padding: 10px;
    font-weight: 100;
    box-shadow: -13px 1px 0px -5px #dd5050;
    border: 0px;
}

.form-txt:focus {
    font-weight: 100;
    box-shadow: -13px 1px 0px -5px #befdff;
}

#message {
    position: relative;
    height: 250px;
    
}

@-webkit-keyframes textFade {
    0% {opacity: 0;}
    50%{color: #f33b3b;}
    100%{color:black; opacity: 100%;}
}

@-moz-keyframes textFade {
    0% {opacity: 0;}
    50%{color: #f33b3b;}
    100%{color:black; opacity: 100%;}
}

@keyframes textFade {
    0% {opacity: 0;}
    50%{color: #f33b3b;}
    100%{color:black; opacity: 100%;}
}

@-webkit-keyframes AnimationName {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}

@-moz-keyframes AnimationName {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}

@keyframes AnimationName {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}


#WelcomeDiv {
  background:black;
  height:100%;
  width:100%;
  position: relative;
  top:0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  animation-name: example3;
  animation-delay: 3s;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  z-index: 100000;
 }
#WelcomeDiv p {
  font-size: 50px;
  color: white;
  animation-name: example;
  animation-duration: 3s;
  opacity:1;
  animation-fill-mode: forwards;
  transform: translateY(-50%);
  position: relative;               /* 2 */
   top: 50%;     
                      /* 3 */
   
  
}

@keyframes example {
    0%   {transform: translateX(-100%);}
    75% {transform: translateX(50%); opacity: 1;}
    100% { transform: translateX(50%); opacity: 0;}
}

@-moz-keyframes example {
    0%   {transform: translateX(-100%);}
    75% {transform: translateX(50%); opacity: 1;}
    100% { transform: translateX(50%); opacity: 0;}
}

@-webkit-keyframes example {
    0%   {transform: translateX(-100%);}
    75% {transform: translateX(50%); opacity: 1;}
    100% { transform: translateX(50%);  opacity: 0;}
}

@keyframes example3 {
    95% {transform: translate(0%, 100%);}
    100% {opacity: 0; width: 0%; height: 0%; transform: translate(-50%, -50%); left: 50%; top: 50%;}
}


@-moz-keyframes example3 {
   95% {transform: translate(0%, 100%);}
   100% {opacity: 0; width: 0%; height: 0%; transform: translate(-50%, -50%); left: 50%; top: 50%;}
}

@-webkit-keyframes example3 {
   95% {transform: translate(0%, 100%);}
   100% {opacity: 0; width: 0%; height: 0%; transform: translate(-50%, -50%); left: 50%; top: 50%;}
}
@media only screen and (max-width: 720px) {

    .content-wrapper {
        width: 100%;
        height: 100%;
        border: 0px;
        overflow: hidden;
    }

    .hide-scrollbar p {
        width: 80%;
    }
       
    #two p {
        width: 55%;
        transition: 1s;
        }

    .ps {
        line-height: 8;
    }
   
    #about, #contact {
        top: 20px;
    }

    #about {
        right: 140px;
    }
    #contact {
        right: 30px;
        -webkit-transition: 150ms linear;
        -moz-transition: 150ms linear;
        -o-transition: 150ms linear;
        transition: 150ms linear;
    }

   .content p {
        width: 100%;
        position: relative;
        top: 0px;
        left: 0px;
        padding: 0;
    }

} 

@media only screen and (max-width: 680px) {
    #logo {
        z-index: 0;
    }
    #contact, #about {
        background: #67597a;
        padding: 3px;
    }
    

}

@media only screen and (max-width: 560px) {

   #side-form {
        width: 100%;

    }

    .hide-scrollbar {
        font-size:17px;
    }
}

@media only screen and (max-width: 540px) {

    #content-box {
        top: 0px !important;
        margin-right: 0px;
        padding-right: 0px;
    }

    .ps {
        font-size: 27px;
    }

    #WelcomeDiv p {
  font-size: 20px;
      }
      #two p {
        width: 73%;
        transition: 1s;
        }
                      /* 3 */
   
  

}


@media only screen and (min-width:720px) and (max-width: 1115px) {

        .hide-scrollbar p {
        width: 60%;
        font-size: 20px;
    }
}
